<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Name" [(ngModel)]="username">
            <label for="Name">Username</label>
          </div>


          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="Email" [(ngModel)]="email">
            <label for=" Email ">Email address</label>
          </div>
          @if (!emailRegex.test(email) && email != "") {
            <div class="emailError text-danger">Please Enter Valid Email</div>
          }


          <div class="form-floating mb-3 ">
            <input type="password" class="form-control " id="Password " [(ngModel)]="password">
            <label for="Password ">Password</label>
          </div>
          @if (!passwordRegex.test(password) && password != "") {
            <div class="passwordError text-danger">Please Enter Valid password</div>
          }

          <div class="form-floating mb-3 ">
            <input type="text " class="form-control " id="User_Bio " [(ngModel)]="first_name">
            <label for="User_Bio ">First Name</label>
          </div>

          <div class="form-floating mb-3 ">
            <input type="text " class="form-control " id="User_Bio " [(ngModel)]="last_name">
            <label for="User_Bio ">Last Name</label>
          </div>


          <div class="d-grid ">
            <button class="btn btn-primary btn-login text-uppercase fw-bold " type="submit " (click)="register() ">Sign
              UP
            </button>


          </div>
        </div>
      </div>
    </div>
  </div>
